@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700');

body {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh !important;
}


@keyframes flickerAnimation {
  from {
    box-shadow: 0 0 1px -1px rgb(9, 240, 9);
  }

  to {
    box-shadow: 0 0 1px 1px rgb(9, 240, 9);
  }
}

.page-heading{
  text-align: center;
  margin-top: 30px ;
  margin-bottom: 25px ; 

}

.animate-flicker {
  border-radius: 200px;
  -webkit-animation: flickerAnimation .5s infinite;
  -moz-animation: flickerAnimation .5s infinite;
  -o-animation: flickerAnimation .5s infinite;
  animation: flickerAnimation .5s infinite;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

.container-node {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  width: 400px;
}